DBT_SNOWFLAKE_DATABASE=LOCAL_BENGEN

# This allows for a distinction between the database you write to and where you source the data.
# For example this could be set to the production database if you need to work with prod data. 
DBT_SNOWFLAKE_SOURCE_DATABASE=LOCAL_BENGEN