ipykernel==7.1.0
ipython==9.7.0
ipython-sql
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jmespath==1.0.1
jupyter_client==8.6.3
jupyter_core==5.9.1
pandas==2.3.3
pre-commit==4.5.1
setuptools<=81
snowflake==1.9.0
snowflake-cli==3.16.0
snowflake-connector-python==4.0.0
snowflake._legacy==1.0.2
snowflake.core==1.9.0
snowflake-sqlalchemy
SQLAlchemy==2.0.44
tqdm==4.67.1
ydata-profiling==4.18.1
